/* --- _variables.css: Configurações Globais e Variáveis de Cor --- */
:root {
    --cor-primaria: #4A2582;
    --cor-texto-cabecalho: #ffffff;
    --cor-hover-botao: #5e33a1;
    
    --background-light: #f4f7f6;
    --background-white: #ffffff;
    --text-dark: #2c3e50;
    --text-light: #576574;
    --border-color: #e4e4e4;
    --shadow-color: rgba(0, 0, 0, 0.08);
}