{% extends "base.html" %}

{% block title %}Página Não Encontrado - 404{% endblock %}

{% block page_content %}
<div class="container" style="text-align: center; padding: 50px 20px;">
    <h1 style="font-size: 5em; color: var(--cor-primaria);">404</h1>
    <h2 style="color: var(--text-dark);">Página Não Encontrada</h2>
    <p style="font-size: 1.1em; color: var(--text-light);">
        Parece que a página que você está procurando não existe ou foi movida.
    </p>
    <p>
        {# ATUALIZADO: Usando a nova classe btn-primary-error #}
        <a href="{{ url_for('main.dashboard') }}" class="btn-primary-error">
            Ir para o Dashboard
        </a>
    </p>
</div>
{% endblock %}