{# portal/templates/messages_errors.html #}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <button type="button" class="close-alert" aria-label="Fechar">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}